<a href="https://colab.research.google.com/github/kimhyoryeong/ml_edu/blob/master/0818.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###1.개요

In [1]:
import sklearn 
print(sklearn.__version__)

0.22.2.post1


##(2)데이터 불러오기
-sklearn 패키지 내장 데이터 있음

In [7]:
from sklearn.datasets import load_iris
iris= load_iris() #bunch 형태의 데이터셋으로 구성되어 있음

# 독립변수 구성된 데이터
iris_data=iris.data

iris_label = iris.target
print('iris target 값:', iris_label[[0,50,100]])
print('iris target 명:', iris.target_names)

iris target 값: [0 1 2]
iris target 명: ['setosa' 'versicolor' 'virginica']

### (2) 데이터 전처리
- 상황: NumPy 형태, 리스트
- 방법: pandas를 활용해서, 데이터 프레임 만들기

- ref How to convert a Scikit-learn dataset to a Pandas dataset?

In [9]:
import pandas as pd
import numpy as np

In [11]:
from sklearn import datasets

def sklearn_to_df(sklearn_dataset):
    df = pd.DataFrame(sklearn_dataset.data, columns=sklearn_dataset.feature_names)
    df['target'] = pd.Series(sklearn_dataset.target)
    return df

df_iris = sklearn_to_df(load_iris())
df_iris

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]